<!DOCTYPE html>
<html>
<head>
    <title>GS</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\gener\OneDrive\Escritorio\Gestion de tickets\CSS\estilos.css">
</head>
<body>
    <header>
        <div class="logo">
          <img src="C:\Users\gener\OneDrive\Escritorio\Gestion de tickets\Images\gs-logo.png" alt="GlobalSolutions" class="logo-img">
        </div>
      </header>

    <div>
        <ul class="menu">
            <li>Software</li>
                <ul class="submenu">
                    <li><a href="Portabilidad.html">Portabilidad</a></li>
                    <li><a href="FTTH.html">Fibra</a></li>
                    <li><a href="Emergencias">Emergencias</a></li>
                    <li><a href="ATP.html">ATP</a></li>
                </ul>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>

    <div class="contenido">
        <h1>Bienvenido a Tickets Mero</h1>
        <p>El Nuevo sistema de tickets de Global Solutions.</p>
    </div>
</body>
</html>