* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
  background-image: url('fondo-login.jpg');
  background-position:auto;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.logo{
  display: flex;
  height: 40px;
  margin: auto;
}
.logo-img{
  height: 125px;
  margin: auto;
}
.form-login {
  width: 340px;
  height: 270px;
  margin: auto;
  margin-top: 110px;
  box-shadow: 7px 13px 37px hsla(0, 0%, 0%, 0.397);
  padding: 20px 20px;
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 35px;
  margin-bottom: 20px;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 10px;
  padding: 13px 10px;
  background: #252323;
  font-size: 14px;
  color: #fff;
}

.buttons{
  border-radius: 20px;
  display: inline-block;
  padding: 10px 123px;
  text-decoration: none;
  color: white;
  background: #017bab;
}

.form-login p{
  height: 0px;
  text-align: center;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}
