<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="C:\Users\gener\OneDrive\Escritorio\Gestion de tickets\Pruebas\Css\Prueba_Home.css">

<ul class="menu">
    <li>
        <p>Inicio</p>
        <ul class="submenu">
            <li><a href="#">Submenú 1</a></li>
            <li><a href="#">Submenú 2</a></li>
            <li><a href="#">Submenú 3</a></li>
        </ul>
    </li>
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Contacto</a></li>
</ul>